.navbar-mobile-btn{
    display: none;
}

.menu-modal.mobile {
    margin-inline-start: auto;
}

.dropdown-menu{
    background-color:rgba(2, 2, 2, .3) !important;
    margin-top: .46875rem !important;
    margin-inline-start: 0 !important;
    right: auto !important;
}

.navbar-nav{
    margin-top:0;
    background-color: transparent;
}